/* General css style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  list-style: none;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.description_text {
  font-size: 1.6rem;
  line-height: 1.7;
  color: #969696;
}

.logo_icon {
  height: 7rem;
  padding: 1rem;
  background-color: #ff4e3b;
  border-radius: 5px;
  display: none;
}

.sub_nav_desktop {
  display: none;
}

.header_navbar_links {
  display: none;
}

.mobile_menu_popup {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  transform: translateX(0);
  background-color: #2b2b2b;
  padding: 1.5rem;
  height: 100vh;
}

.mobile_menu_pages {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
}

.mobile_navbar_items {
  font-size: 2.4rem;
  color: #fff;
  text-decoration: underline;
}

.section_hero {
  background-image: url(./img/hero-bg-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 6rem;
}

.hero_text_box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.heading_primary {
  background-image: url(./img/bgletters.jpg);
  background-size: cover;
  background-clip: content-box;
  -webkit-background-clip: text;
  font-family: 'Bakbak', sans-serif;
  line-height: 1;
  font-size: 3.6rem;
  font-weight: 900;
  color: transparent;
}

.sub_heading_primary {
  font-size: 1.8rem;
  font-weight: 700;
}

.hero_description {
  background-color: rgb(250, 250, 250);
  padding: 1.2rem;
  border: solid white 2px;
  color: #565656;
}

.secondary-hero-text {
  font-size: 2.2rem;
  font-weight: 700;
  background-color: rgb(250, 250, 250);
  padding: 1.2rem;
  color: #565656;
}

.address-text {
  font-size: 1.8rem;
  background-color: rgb(250, 250, 250);
  padding: 1.2rem;
  color: #565656;
}

.mobile_menu {
  height: 8rem;
  font-size: 5.2rem;
  color: #969696;
  cursor: pointer;
  padding-bottom: 4rem;
}

.cross_icon {
  font-size: 4.8rem;
  color: #fff;
  margin-bottom: 4rem;
}

.section_main_program {
  background-image: url(./img/feature_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main_program_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 2.4rem;
  color: white;
  padding: 3rem 0;
}

.main_program_header::after {
  display: block;
  content: ' ';
  width: 5rem;
  padding-bottom: 3px;
  background-color: #ff4e3b;
}

.event_new_logo {
  text-align: center;
  padding: 4rem 0;
  border-bottom: solid #969696 1px;
}

.new_event_box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.dark_text {
  color: #2b2b2b;
  font-size: 2.4rem;
}

.larg_text {
  font-size: 1.8rem;
}

.new_logo {
  height: 12rem;
  background-color: #ff4e3b;
  border-radius: 2rem;
  padding: 3rem;
}

.partners {
  background-color: #000;
  display: block;
}

.past_event_image_box {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
}

.event_image_box1 {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-self: center;
  align-items: center;
  height: 20rem;
  padding: 2rem;
  background: linear-gradient(rgba(236, 83, 67, 0.4), rgba(236, 83, 67, 0.4)), url(./img/past_event_img1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.event_image_box2 {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-self: center;
  align-items: center;
  height: 20rem;
  padding: 2rem;
  background: linear-gradient(rgba(236, 83, 67, 0.4), rgba(236, 83, 67, 0.4)), url(./img/past_event_imag2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.event_text {
  font-size: 2.4rem;
  font-weight: 700;
  color: #fff;
}

.footer_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 0;
}

.footer_description {
  font-size: 1.6rem;
  color: #ec5242;
  font-weight: 700;
  line-height: 1.7;
}

.display_none {
  display: none;
}

@media (min-width: 786px) {
  .container {
    width: 82%;
  }

  .sub_nav_desktop {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1.5rem;
    padding: 0 5px;
    font-size: 1.6rem;
    font-weight: 500;
    height: 5vh;
    color: rgb(192, 192, 192);
  }

  .sub_nav_box {
    background-color: rgb(46, 46, 46);
  }

  .logo_icon {
    display: block;
  }

  .mobile_menu {
    display: none;
  }

  .cross_icon {
    display: none;
  }

  .header_nav_box {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .header_navbar_links {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .navbar_items {
    font-size: 1.8rem;
    font-weight: 500;
    color: #2b2b2b;
  }

  .navbar_items:hover {
    cursor: pointer;
    color: #ec5242;
  }

  .last_nav {
    border: 2px solid #ec5242;
    color: #ec5242;
    padding: 0.5rem 1rem;
  }

  .section_hero {
    background-image: url(./img/hero-bg-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
  }

  .hero_text_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
  }

  .heading_primary {
    font-size: 4.8rem;
  }

  .new_logo {
    height: 18rem;
  }

  .past_event_image_box {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 1rem;
  }

  .mobile_menu_popup {
    display: none;
  }
}
