/* General css style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  list-style: none;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.description_text {
  font-size: 1.6rem;
  line-height: 1.7;
  color: #969696;
}

.display_none {
  display: none;
}

.logo_icon {
  height: 7rem;
  padding: 1rem;
  background-color: #ff4e3b;
  border-radius: 5px;
  display: none;
}

.sub_nav_desktop {
  display: none;
}

.header_navbar_links {
  display: none;
}

.mobile_menu_popup {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  transform: translateX(0);
  background-color: #2b2b2b;
  padding: 1.5rem;
  height: 100vh;
}

.mobile_menu_pages {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
}

.mobile_navbar_items {
  font-size: 2.4rem;
  color: #fff;
  text-decoration: underline;
}

.section_hero {
  background-image: url(./img/hero-bg-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 6rem;
}

.hero_text_box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.heading_primary {
  background-image: url(./img/bgletters.jpg);
  background-size: cover;
  background-clip: content-box;
  -webkit-background-clip: text;
  font-family: 'Bakbak', sans-serif;
  line-height: 1;
  font-size: 3.6rem;
  font-weight: 900;
  color: transparent;
}

.sub_heading_primary {
  font-size: 1.8rem;
  font-weight: 700;
}

.hero_description {
  background-color: rgb(250, 250, 250);
  padding: 1.2rem;
  border: solid white 2px;
  color: #565656;
}

.secondary-hero-text {
  font-size: 2.8rem;
  font-weight: 700;
  color: #565656;
}

.address-text {
  font-size: 1.8rem;
  color: #565656;
}

.mobile_menu {
  height: 8rem;
  font-size: 5.2rem;
  color: #969696;
  cursor: pointer;
  padding-bottom: 4rem;
}

.cross_icon {
  font-size: 4.8rem;
  color: #fff;
  margin-bottom: 4rem;
}

.section_main_program {
  background-image: url(./img/feature_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main_program_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 2.4rem;
  color: white;
  padding: 3rem 0;
}

.main_program_header::after {
  display: block;
  content: ' ';
  width: 5rem;
  padding-bottom: 3px;
  background-color: #ec5242;
}

.programs_container {
  padding: 6rem 0;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.programs {
  display: grid;
  grid-template-columns: 1fr 3fr 4fr;
  column-gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #9696962a;
}

.programs:hover {
  transform: scale(1.03);
  border: 1px solid #fff;
}

.program_header {
  font-size: 1.8rem;
  color: #ec5242;
}

.program_description {
  font-size: 1.4rem;
  letter-spacing: 2.1px;
  color: white;
}

.program_more_link {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  text-decoration: underline;
  padding-bottom: 6rem;
  color: white;
}

.speakers_container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5rem;
  column-gap: 5rem;
  padding: 5rem 0;
}

.speaker_detail_box {
  display: grid;
  grid-template-columns: 10rem auto;
  column-gap: 3rem;
}

.speakers_image_box {
  position: relative;
  height: 12rem;
  width: 12rem;
}

.speaker_image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  z-index: 2;
}

.speaker_background_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  z-index: 1;
}

.speaker_detail_text-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.speaker_feature_header {
  font-size: 1.8rem;
  font-weight: 700;
}

.speaker_position {
  font-size: 1.6rem;
  color: #ec5242;
}

.speaker_position::after {
  display: block;
  content: ' ';
  width: 2rem;
  padding-bottom: 3px;
  background-color: #969696;
}

.speaker_description {
  font-size: 1.4rem;
  color: #565656;
}

.speakers_header {
  color: #565656;
}

.see_more_btn {
  padding: 1.4rem 2.8rem;
  border: solid black 1px;
  display: block;
  text-align: center;
  font-size: 2.4rem;
  color: black;
  margin-bottom: 3rem;
}

.partners {
  background-color: #444;
  display: block;
}

.partner_image {
  background-color: transparent;
  opacity: 80%;
  height: 5rem;
  width: 15rem;
  filter: grayscale(50%);
}

.partner_items_box {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 6rem;
}

.footer_section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 0;
}

.footer_heading {
  font-size: 2rem;
  line-height: 1.7;
}

.footer_description {
  font-size: 1.6rem;
}

@media (min-width: 786px) {
  .container {
    width: 82%;
  }

  .sub_nav_desktop {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1.5rem;
    padding: 0 5px;
    font-size: 1.6rem;
    font-weight: 500;
    height: 5vh;
    color: rgb(192, 192, 192);
  }

  .sub_nav_box {
    background-color: rgb(46, 46, 46);
  }

  .logo_icon {
    display: block;
  }

  .mobile_menu {
    display: none;
  }

  .cross_icon {
    display: none;
  }

  .header_nav_box {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .header_navbar_links {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .navbar_items {
    font-size: 1.8rem;
    font-weight: 500;
    color: #2b2b2b;
  }

  .navbar_items:hover {
    cursor: pointer;
    color: #ec5242;
  }

  .last_nav {
    border: 2px solid #ec5242;
    color: #ec5242;
    padding: 0.5rem 1rem;
  }

  .section_hero {
    background-image: url(./img/hero-bg-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
  }

  /* some thids  */
  .hero_text_box {
    display: grid;
    grid-template-columns: 0.7fr;
    padding-top: 2rem;
  }

  .heading_primary {
    font-family: 'Bakbak', sans-serif;
    font-size: 7.2rem;
  }

  .programs_container {
    grid-template-columns: repeat(5, 1fr);
    column-gap: 0.5rem;
  }

  .programs {
    grid-template-columns: 1fr;
    row-gap: 1rem;
    justify-items: center;
    padding: 2rem;
  }

  .speakers_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5rem;
    column-gap: 5rem;
  }

  .see_more_btn {
    display: none;
  }

  .partners {
    background-color: #444;
    display: block;
  }

  .partner_image {
    background-color: transparent;
    opacity: 80%;
    height: 5rem;
    width: 15rem;
    filter: grayscale(50%);
  }

  .partner_items_box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 6rem;
  }

  .footer_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 0;
  }

  .section_speakers {
    background-color: #d3d3d3;
  }

  footer {
    background-color: #d3d3d3;
  }

  .mobile_menu_popup {
    display: none;
  }
}
